body {
    background-image: url(imgs/bg.jpeg);
    background-position: top left;
    background-size: cover;
    background-repeat: no-repeat;
}
#links {
    background-color: transparent;
}
h1 {
    color: white;
}
p, table * {
    color: white;
    text-shadow: 0.1em 0.1em 0.2em black;
}
.menu {
    background-color: white;
    color: white;
    border: none;
    cursor: pointer;
    padding:20px;
    margin-top:20px;
}
.oba {
    position: relative;
    display: inline-block;
    margin: 0 -10%;
}
.oba-child {
    display: none;
    background-color: rgb(255, 255, 255);
    min-width: 200px;
}
.oba-child a {
    color: rgb(0, 0, 0);
    padding: 20px;
    text-decoration: none;
    display: block;
}
.oba:hover .oba-child {
    display: block;
} 
img {
    border-radius: 0;
}
