div:not(#mito) {
    margin: 1vw 0;
    display: flex;
    align-content: center;
}

div:not(#mito) p {
    font-size: 1.4vw;
    align-self: center;
}

div:not(#mito) img {
    width: 13vw;
    height: 13vw;
}

div#fontes {
    display: block;
}

#nomia {
    padding-top: 1vw;
}
