body {
    background-image: url(imgs/bg.jpeg);
    background-position: top left;
    background-size: cover;
    background-repeat: no-repeat;
}

#links {
    background-color: transparent;
    display: flex;
    justify-content: space-evenly;
}

#links img {
    width: 140px;
}

p, table {
    color: white;
    text-shadow: 0.1em 0.1em 0.2em black;
}

img[src*="ur"] {
    border-radius: 0;
}