@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

body {
    background-image: linear-gradient(0deg, black, #1c1574, #302b7a,  #592985, #302b7a, #1c1574, black);
    margin: 0 10%;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    font-size: 1vw;
}

h1 {
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    font-size: 1.7vw;
    cursor: pointer;
}

h1:active {
    position: relative;
    right: 0.26vw;
    bottom: 0.26vw;
}

h1, a {
    color: white;
}

h2 {
    font-family: "Kaushan Script", cursive;
    font-size: 1.8vw;
}

a, p a {
    text-decoration: none;
}

p {
    font-size: 1vw;
}

p a {
    color: rgb(12, 12, 105);
    font-style: italic;
}

p a:visited {
    color: rgb(53, 9, 53);
}

p a:hover, a:hover {
    color: lightblue;
    text-decoration: underline;
}

.right {
    float: right;
    padding-left: 1vw;
}

.left {
    float: left;
    padding-right: 1vw;
}

img {
    width: 9.1vw;
    border-radius: 50%;
}

div {
    background-color: rgba(255, 255, 255, 0.493);
    padding: 0.5vw 1vw;
    border-radius: 1vw;
    clear: both;
}

table {
    border-collapse: collapse;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.493);
    border-radius: 1vw;
    width: 60vw;
}

div, table {
    margin-bottom: 1vw;
}

th, td {
    padding: 0.5vw 1vw;
}

img[src*="home"] {
    border-radius: 0;
    width: 1.5vw;
}